<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" >
    {% block link %} 
    {% endblock %}
</head>
<body>
    <img src="{{ url_for('static', filename= 'img/image.png')}}" class = "img1">
    <header>
        <div class = "header">
            <a href="/" class = "home">HOME</a>
            <a href="/tour/" class = "tour">TOUR</a>
            {% if is_login %}
                <form method = "post">
                    <img src="{{ url_for('static', filename= 'img/image2.png')}}" class = "img2">
                    <p class="p">{{ name }}</p>
                    <button type = "submit" class = "logout">LOGOUT</button>
                </form>
            {% else %}
                <a href="/registration/" class="reg">REGISTRATION</a>
                <a href="/authorization/" class="auth">AUTHORIZATION</a>
            {% endif %}
        </div>
        
        
        {% block line %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>