{% extends "base.html" %}

{% block title %}Page Home{% endblock %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('home.static', filename = 'css/style.css') }}" >
{% endblock %}

{% block content %}
    <form method="post" class="form">
        <form method="post" class="form">
            <h1>YOUR NAME:</h1>
            <input required name="client_name" id="inputform">
            <h1>YOUR EMAIL:</h1>
            <input name="client_email" id="inputform">
            <h1>YOUR RESPONSE:</h1>
            <div id="response">
                <textarea name="client_review" id="textform"></textarea>
                <button type="submit" name = "send_email" value = "email">SEND</button>
            </div>
        </form>
    </form>

{% endblock %}
