.div {
    border: 1px solid #000000;
    border-radius: 20px;
    width: 1175px;
    height: 240px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(233, 233, 233, 0.85);
    margin-top: 5px;
}


.tokyo {
    position: absolute;
    width: 300px;
    height: 180px;
    margin-top: 45px;
    margin-left: 20px;
}


.tokyolink {
    text-decoration: none;
    color: #a02222;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 8px;
}

h1 {
    font-size: 60px;
    margin-left: 880px;
    margin-top: -20px;
}


.price {
    margin-left: 1000px;
    margin-top: -30px;
}


.tokyosign {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 175px;
    margin-left: 1085px;
}

.paris {
    position: absolute;
    width: 300px;
    height: 180px;
    margin-top: 45px;
    margin-left: 20px;
}

.parissign {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 175px;
    margin-left: 1085px;
}

.parislink {
    text-decoration: none;
    color: #1E35CA;
    font-size: 30px;
    margin-left: 130px;
    margin-top: 8px;
}

.madrid {
    position: absolute;
    width: 300px;
    height: 180px;
    margin-top: 45px;
    margin-left: 20px;
}


.madridlink {
    text-decoration: none;
    color: #7a8707;
    font-size: 30px;
    margin-left: 110px;
    margin-top: 8px;
}

.madridsign {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 175px;
    margin-left: 1085px;
}


.tour {
    color: #000000;
    text-decoration: underline;
}