input{
    border: 2px solid #000000;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
    background-color: white;
    margin-top: 30px;
    margin-left: 25px;
}


form{
    border: 1px solid #000000;
    border-radius: 20px;
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(233, 233, 233, 0.85);
}


button{
    border: 3px solid #000000;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    background-color: transparent;    
    margin-left: 75px;
    margin-top: 30px;
    color: #404040;
    background-color: white;
}


.auth {
    color: #000000;
    text-decoration: underline;
}